.bwic-homepage {
  padding: 5px;
  margin: 10px !important;
}

.bidding-homepage {
  padding: 5px;
  margin: 10px !important;
}

.grey-price{
  background-color: grey;
}

.green-price{
  background-color: aliceblue;
  color: black;
}